# Crear archivo .env con los siguientes datos de jira
#  y del sitio del usuario que ejecutara las pruebas.

JIRA_EMAIL=xx@qubikcommerce.com
JIRA_TOKEN=tu_token_de_jira
JIRA_BASE=https://qbkconsulting.atlassian.net

SAFECORE_BO_DEV_PASS=
SAFECORE_BO_STG_PASS=

HUB_DEV_PASS=
HUB_STG_PASS=

TECO_DEV_PASS=
TECO_STG_PASS=

TECO_BO_DEV_PASS=
TECO_BO_STG_PASS=